doctype html
html(lang="ja")
  include inc/_head

  body

    include inc/_header

    main
      div(x-data="{ isOpen: false }")
        button(@click="isOpen = true") モーダルを開く

        div(x-show="isOpen" @click.away="isOpen = false" x-transition)
          p Modal Content...<br />
            | Modal Content...<br />
            | Modal Content...<br />
            | Modal Content...
          button(@click="isOpen = false") モーダルを閉じる

    include inc/_footer
